@import url("reset.css");

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
}

.wrapper {
  max-width: 550px;
  margin: 0 auto;
}

header {
  width: 34.375rem;
  height: 4.0625rem; 
  padding: 1rem;
  color: white;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 1.95663rem;
  height: 1.63863rem;
}

header h1 {
  font-size: 1.29675rem;
  margin-left: .8em;
}

header h2 {
  font-size: 0.75rem;
  font-weight: 400;
}

.app-title {
  display: flex;
}

/* Form Elements */
form {
  padding: 0 1.4rem;
  margin-top: 2rem;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

input {
  /* width: 14.375rem; */
  width: 100%;
  padding: .4em;
  height: 2.1875rem;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  place-self: center;
}

 button {
  color: white;
  grid-column: 1 / 3;
  place-self: center;
  width: 100%;
  /* width: 29.8125rem; */
  height: 2.5rem;
  border-radius: 5px;
  background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
  cursor: pointer;
 }
 /* End Form Elements */

 .generated-meme {
  position: relative;
 }

 .meme-image {
  margin: 0 auto;
  padding-top: 1.2em;
 }

 .top-text {
  position: absolute;
  top: 0;
  font-size: 3rem;
  text-align: center;
  /* padding: 2rem; */
 }

 .bottom-text {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  text-align: center;
 }